---
- name: "Enable IPv4 traffic forwarding"
  sysctl:
    name: net.ipv4.ip_forward
    value: 1
  when: ansible_virtualization_type != 'lxc'

- name: "Add IPv4 traffic forwarding persistence service to init"
  copy:
    src: streisand-ipforward.sh
    dest: /etc/init.d/homebrand-ipforward
    mode: 0755

- name: "Enable the homebrand-ipforward init service"
  service:
    name: homebrand-ipforward
    enabled: yes
